# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
#.vscode/*
#!.vscode/extensions.json

# Added

.venv
*__pycache__

web_project/secret.py

db.sqlite3

ship_game/static/ship_game/lib/fontawesome-free/js
ship_game/static/ship_game/lib/fontawesome-free/less
ship_game/static/ship_game/lib/fontawesome-free/metadata
ship_game/static/ship_game/lib/fontawesome-free/scss
ship_game/static/ship_game/lib/fontawesome-free/sprites
ship_game/static/ship_game/lib/fontawesome-free/svgs

others/not_need_parts_of_vite_project